#flex-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 600px;
  border: solid 1px black;
  /* 메인축 */
  /* justify-content: space-between; */
  /* 반대축 */
  /* align-items: center; */
  flex-wrap: wrap;
  /* gap: 4px;
  row-gap: 4px;
  column-gap: 4px; */
}



#flex-wrap .box {
  width: calc(50% - 8px);
  height: 100px;
  margin: 0 auto;
  background-color: green;
}

  /* 하나만 정의 할때 */
#flex-wrap .box5 {
  align-self: center;
}

#flex-wrap .box7 {
  align-self: end;
}

#flex-wrap .box9 {
  align-self: end;
}